body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Open Sans Condensed', sans-serif;
}

.container {
    margin: 0px 166px;
}

.header {
    background-image: url(images/bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-line {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-item {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;

    margin-right: 63px;

    transition: color 0.3s linear;
}

.nav-item:hover {
    color: #FF7400;
}

.num {
    color: #fff;
    text-decoration: none;
    font-weight: 700;

    transition: color 0.3s linear;
}

.num:hover {
    color: #FF7400;
}

.header-down {
    position: relative;
}

.header-title {
    color: #fff;
    font-family: 'Open Sans Condensed';
    font-size: 64px;
    font-weight: 700;
    line-height: 87px;

    letter-spacing: 0.1em;
    text-transform: uppercase;

    /*text-align: center;*/
    position: absolute;
    /*left: 0;*/

    margin-top: 384px;
    margin-left: 370px;

}

.header-text {
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;

    position: absolute;
    margin-top: 502px;
    margin-left: 370px;
}

.header-btn {
    padding-top: 49px;
}

.header-button {
    position: absolute;
    background-color: #D1A954;
    padding: 5px 51px;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-decoration: none;

    margin-left: 370px;
    margin-top: 581px;

    transition: background-color 0.2s linear;
}

.header-button:hover {
    background-color: #333333;
}

.header-image {
    position: absolute;

    margin-top: 219px;
    margin-left: 923px;
}

.fixed-panel {

    margin: 0px 0px;
    width: 150px;
    height: 1045px;
    left: 0px;
    top: 0px;

    z-index: 1;

    overflow-x: hidden;

    position: fixed;

    background: rgba(51, 51, 51, 0.75);
}

.header-rotatetext {

    position: absolute;
    width: 242px;
    height: 25px;
    left: -31px;
    top: 383px;

    /* p / 18b */

    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    letter-spacing: 0.1em;
    text-transform: uppercase;

    color: #C4C4C4;

    transform: rotate(-90deg);

    /*position: absolute;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25px;


    padding-top: 383px;
    padding-left: 62px;
    /*margin-top: 383px;
    margin-left: 62px;
    margin-right: 1px;
    margin-bottom: 1px;

    letter-spacing: 0.1em;
    text-transform: uppercase;


    transform: rotate(-90deg);*/
}

.header-rotatetext:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 80px;
    background-color: #fff;
    top: 14px;
    left: -120px;
}

.header-social-network {
    position: relative;
    border-right: 1px solid #FFFFFF;
    padding-right: 10px;
    height: 50px;
}

.instagram-img {
    width: 26px;
    top: 705px;
    left: 75px;

    position: absolute;
}

.facebook-img {
    position: absolute;
    margin-top: 761px;
    margin-left: 79px;
}

.vkontakte-img {
    position: absolute;
    margin-top: 817px;
    margin-left: 75px;
}

.youtube-img {
    position: absolute;
    margin-top: 861px;
    margin-left: 75px;
}

.history {
    background: #333333;
    /*width: 1920px;*/
    height: 757px;
}

.history-info {
    height: 457px;
}


.history-title {
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 48px;
    font-weight: 300;
    width: 177px;
    height: 65px;
    text-align: center;
    justify-content: center;
    margin-left: 644px;
    padding-bottom: 100px;
    padding-top: 150px;
}

.history-title span {
    color: #D1A954;
}


.history-information {
    display: flex;
    justify-content: center;
}

.about-text {
    color: #fff;

    width: 445px;

    /*margin-left: 405px;*/
}

.history-subtitle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding-bottom: 40px;
    width: 255px;
    height: 23px;
}

.history-desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.about-number {
    color: #fff;

    /*margin-left: 880px;
    margin-top: -250px;*/
    padding-left: 30px;
    
    width: 255px;
    height: 292px;
}


.history-suptitle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.seats {
    padding-top: 40px;
}

.armchair {
    padding-bottom: 15px;
}

.seats-item {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.seats-item span {
    color: #D1A954;
}

.history-years {
    padding-top: 25px;
}

.theater1 {
    padding-bottom: 15px;
}

.history-years-desc {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0.05em;
}

.history-years-desc span {
    color: #D1A954;
}

.history-images {
    width: 350px;
    height: 292px;
    /*margin-left: 1165px;*/
    /*margin: -283px 1px 1px 0px;*/
    padding-left: 30px;
}